@media (max-width: 756px) {
    .main {
        padding-top: 6rem !important;
    }
    .main__foto img {
        height: 200px !important;
    }
    header {
        padding-top: 4rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}