.header {
    background-image: url('../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.header__web {
    background-image: url('../images/header_web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.header__sonido {
    background-image: url('../images/header_sonido.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.header__contacto {
    background-image: url('../images/header_contacto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}