main {   
    padding: 8rem;

    h1 {
        font-size: $xxx-large;
        padding-bottom: 4rem;
    }
    p {
        font-size: $small;
    }
}



.main__foto {
    text-align: center;
    padding-bottom: 2.5rem;
    img {
        border-radius: 50%;
        height: 250px;
        width: auto;
    }
}

